In [1]:
import pandas as pd
import numpy as np

In [2]:
# import data
df=pd.read_csv('tiktok_dataset.csv')

In [3]:
# first five data of dataframe
df.head(10)

,#,claim_status,video_id,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
0,1,claim,7017666017,59,someone shared with me that drone deliveries a...,not verified,under review,343296.0,19425.0,241.0,1.0,0.0
1,2,claim,4014381136,32,someone shared with me that there are more mic...,not verified,active,140877.0,77355.0,19034.0,1161.0,684.0
2,3,claim,9859838091,31,someone shared with me that american industria...,not verified,active,902185.0,97690.0,2858.0,833.0,329.0
3,4,claim,1866847991,25,someone shared with me that the metro of st. p...,not verified,active,437506.0,239954.0,34812.0,1234.0,584.0
4,5,claim,7105231098,19,someone shared with me that the number of busi...,not verified,active,56167.0,34987.0,4110.0,547.0,152.0
5,6,claim,8972200955,35,someone shared with me that gross domestic pro...,not verified,under review,336647.0,175546.0,62303.0,4293.0,1857.0
6,7,claim,4958886992,16,someone shared with me that elvis presley has ...,not verified,active,750345.0,486192.0,193911.0,8616.0,5446.0
7,8,claim,2270982263,41,someone shared with me that the best selling s...,not verified,active,547532.0,1072.0,50.0,22.0,11.0
8,9,claim,5235769692,50,someone shared with me that about half of the ...,not verified,active,24819.0,10160.0,1050.0,53.0,27.0
9,10,claim,4660861094,45,someone shared with me that it would take a 50...,verified,active,931587.0,171051.0,67739.0,4104.0,2540.0

In [4]:
# checking row and columns
df.shape

(19382, 12)

In [5]:
#prints information about the datafrane
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19382 entries, 0 to 19381
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   #                         19382 non-null  int64
 1   claim_status              19084 non-null  object
 2   video_id                  19382 non-null  int64
 3   video_duration_sec        19382 non-null  int64
 4   video_transcription_text  19084 non-null  object
 5   verified_status           19382 non-null  object
 6   author_ban_status         19382 non-null  object
 7   video_view_count          19084 non-null  float64
 8   video_like_count          19084 non-null  float64
 9   video_share_count         19084 non-null  float64
 10  video_download_count      19084 non-null  float64
 11  video_comment_count       19084 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 1.8+ MB

From above, we can see that we have null value present in claim_status, video_transcription_text, video_view_count, video_like_count, video_share_count, video_download_count, video_comment_count.

In [6]:
# get summary statistics
df.describe()

,#,video_id,video_duration_sec,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
count,19382.000000,1.938200e+04,19382.000000,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000
mean,9691.500000,5.627454e+09,32.421732,254708.558688,84304.636030,16735.248323,1049.429627,349.312146
std,5595.245794,2.536440e+09,16.229967,322893.280814,133420.546814,32036.174350,2004.299894,799.638865
min,1.000000,1.234959e+09,5.000000,20.000000,0.000000,0.000000,0.000000,0.000000
25%,4846.250000,3.430417e+09,18.000000,4942.500000,810.750000,115.000000,7.000000,1.000000
50%,9691.500000,5.618664e+09,32.000000,9954.500000,3403.500000,717.000000,46.000000,9.000000
75%,14536.750000,7.843960e+09,47.000000,504327.000000,125020.000000,18222.000000,1156.250000,292.000000
max,19382.000000,9.999873e+09,60.000000,999817.000000,657830.000000,256130.000000,14994.000000,9599.000000

In [7]:
# checking 'claim status' column to see its value
df['claim_status'].value_counts()

claim      9608
opinion    9476
Name: claim_status, dtype: int64

In [8]:
# filtering videos with "claim" status
claim_videos = df[df['claim_status'] == 'claim']

In [9]:
# average view count
mean_view_count = claim_videos['video_view_count'].mean()
median_view_count = claim_videos['video_view_count'].median()
print(f"Mean view count of videos with 'claim' status is : {mean_view_count}")
print(f"Median view count of videos with 'claim' status is : {mean_view_count}")

Mean view count of videos with 'claim' status is : 501029.4527477102
Median view count of videos with 'claim' status is : 501029.4527477102

### What is the average view count of videos with "opinion" status?

In [10]:
# filtering videos with "opinion" status
opinion_video = df[df['claim_status']=='opinion']

In [11]:
# average view count with 'opinion'
mean_view_counts_opinion = opinion_video['video_view_count'].mean()
median_view_counts_opinion = opinion_video['video_view_count'].median()
print(f"The Mean view count of video with 'opinion' status is: {mean_view_counts_opinion}")
print(f"The Median view count of video with 'opinion' status is: {median_view_counts_opinion}")

The Mean view count of video with 'opinion' status is: 4956.43224989447
The Median view count of video with 'opinion' status is: 4953.0

### Question: What do you notice about the mean and media within each claim category?

View counts for claim status videos are evenly distributes arount the average which suggest symmetric distributons and provide good representation of average view count while difference between mean and median for 'opinion' status suggests skewness towards higher view count. So, for 'opinion' status videos, the median might be a better measure of central tendency due to the skewness.

In [13]:
# Get counts for each group combination of claim status and author ban status
df.groupby(['claim_status','author_ban_status']).count()[['#']]

                                   #
claim_status author_ban_status
claim        active             6566
             banned             1439
             under review       1603
opinion      active             8817
             banned              196
             under review        463

#### Question: What do you notice about the number of claims videos with banned authors? Why might this relationship occur?

Based on the data from the table, we observe a higher number of banned authors for claim videos than for opinion videos. This could be due to several factors:

- Claim videos are subject to stricter monitoring than opinion videos.
- There are more stringent rules for authors when posting claim videos compared to opinion videos.
- Authors of claim videos may be more likely to post content that violates terms of service.  

In conclusion, the stricter oversight and regulations for claim videos likely contribute to the higher incidence of bans for their authors.  

#### Continue investigating engagement levels, now focusing on author_ban_status.

#### Calculate the median video share count of each author ban status.

In [14]:
# median video share count of each author ban status
df.groupby(['author_ban_status']).agg(
        {'video_view_count': ['median'],
         'video_like_count': ['median'],
         'video_share_count':['median'] 
        })

                  video_view_count video_like_count video_share_count
                            median           median            median
author_ban_status
active                      8616.0           2222.0             437.0
banned                    448201.0         105573.0           14468.0
under review              365245.5          71204.5            9444.0

In [17]:
# What's the median video share count of each author ban status?
df.groupby(['author_ban_status']).median(numeric_only = True)[['video_share_count']]

                   video_share_count
author_ban_status
active                         437.0
banned                       14468.0
under review                  9444.0

In [18]:
# exploring indepth of author_ban_status
df.groupby(['author_ban_status']).agg(
        {'video_view_count': ['count','median'],
         'video_like_count': ['count','median'],
         'video_share_count':['count','median'] 
        })

                  video_view_count           video_like_count            \
                             count    median            count    median
author_ban_status
active                       15383    8616.0            15383    2222.0
banned                        1635  448201.0             1635  105573.0
under review                  2066  365245.5             2066   71204.5

                  video_share_count
                              count   median
author_ban_status
active                        15383    437.0
banned                         1635  14468.0
under review                   2066   9444.0

The data indicates that video from benned or under review  author receive much more engagement i.e. than that of active authors. This high engagement might attract more attention from the platform, leading to stricter monitoring and enforcement actions.

In [19]:
# create a likes_per_view column
df['likes_per_view']= df['video_like_count']/df['video_view_count']

# create a comments_per_view column
df['comments_per_view'] = df['video_comment_count']/df['video_view_count']

# create a shares_per_view column
df['shares_per_view']= df['video_share_count']/df['video_view_count']

In [20]:
df.groupby(['claim_status','author_ban_status']).agg(
        {'likes_per_view': ['count','median'],
         'comments_per_view': ['count','median'],
         'shares_per_view':['count','median'] 
        })

                               likes_per_view           comments_per_view  \
                                        count    median             count
claim_status author_ban_status
claim        active                      6566  0.326538              6566
             banned                      1439  0.358909              1439
             under review                1603  0.320867              1603
opinion      active                      8817  0.218330              8817
             banned                       196  0.198483               196
             under review                 463  0.228051               463

                                         shares_per_view
                                  median           count    median
claim_status author_ban_status
claim        active             0.000776            6566  0.049279
             banned             0.000746            1439  0.051606
             under review       0.000789            1603  0.049967
opinion      active             0.000252            8817  0.032405
             banned             0.000193             196  0.030728
             under review       0.000293             463  0.035027

Videos from banned and under-review authors get more views, likes, and shares than those from non-banned authors. However, engagement rates (likes, comments, shares per view) depend more on the type of video (claim vs. opinion) than the author's ban status.

Claim videos have higher view, like, comment, and share rates than opinion videos, indicating they are more engaging and favorably received. For claim videos, banned authors have slightly higher engagement rates compared to active or under-review authors. In contrast, for opinion videos, active and under-review authors have higher engagement rates than banned authors.  

#### What percentage of the data is comprised of claims and what percentage is comprised of opinions?  
50.3% of the data are claims, and 49.7% are opinions.
#### What factors correlate with a video's claim status?  
Claim videos are more likely to have higher engagement rates and involve banned or under-review authors.
#### What factors correlate with a video's engagement level?  
Higher engagement levels correlate with being a claim video and the author's ban status, particularly for claim videos where banned authors show higher engagement.